<nav class="main-menu">
    <div class="container">
        <a href="" class="logo-menu">
            <img src="/assets/images/logo-mmd.png"/>
        </a>
        <ul class="list-menu">
            <li>Sobre</li>
            <li>Produtos</li>
            <li>Flow</li>
            <li>Grupo</li>
            <li>Contato</li>
            <li>
                <ul class="list-social">
                    <li>Facebook</li>
                    <li>Instagram</li>
                </ul>
            </li>
        </ul>
    </div>    
</nav>