<nav class="main-menu">
    <div class="container">
        <a href="" class="logo-menu">
            <img src="/assets/images/logo-mmd.png"/>
        </a>
        <ul class="list-menu">
            <li>
                <a href="" title="">SOBRE</a>
            </li>
            <li>
                <a href="" title="">PRODUTOS</a>
            </li>
            <li>
                <a href="" title="">FLOW</a>
            </li>
            <li>
                <a href="" title="">GRUPO</a>
            </li>
            <li>
                <a href="" title="">CONTATO</a>
            </li>
            <li>
                <ul class="list-social">
                    <li>
                        <a href="" title="">
                            <img src="/assets/images/ico-facebook.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="" title="">
                            <img src="/assets/images/ico-instagram.png" alt="">
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>    
</nav>